//////iframe
.iframe-border {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    transform: translateZ(0px);
    border: 3px solid #000;
}
//////separador
.separador-contactos {
    margin-top: 15px;
    margin-left: 10px;
}
//////iframe
.iframe-decoration {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    transform: translateZ(0px);
    border: 3px solid #000;
}
/////divimage
.cheff-logo-contactos{
    width: 350px;
    height: 350px;
    border-radius: 40px;
    border: solid 4px rgb(138, 132, 132);
    box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,  
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 48px;
}
.divimage {
    background-image: url(../img/contactos/hamburguesas-contactos.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    margin-top: 2px;
    box-shadow: 
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
    rgba(0, 0, 0, 0.06) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    justify-content: center;
}
////columnas
.columnas {
    display: flex;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 5%;
    margin-top: 20px;
    width: auto;
    border: 5px solid red;
    border: double 5px transparent;
    background-image: linear-gradient(gray, gray),
        linear-gradient(90deg, yellow, orange, brown); 
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
}
/////h2-maps
.h2-maps {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
//////icons
.icons-contactos {
    width: 30px;
    height: 30px;
}
/////a contactos
.a-contactos {
    text-decoration: none;
    color: #000;
}
/////viejo
.viejo-contactos {
    border: 3px solid #000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: linear-gradient(90deg, red, violet, blue);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;       
    }
/////viejo-div-contactos
.viejo-div-contactos{
    min-width: 300px;
    margin-bottom: 20px;
}
/////////////////////media
@media (max-width:530px) {
    .columnas{
        flex-direction: column;
    }
    .viejo-contactos{
        width: 150px;
        height: 150px;
    }
    .viejo-div-contactos{
        min-width: 150px;
    }
    .divimage{height: 300px;}
    .cheff-logo-contactos{
        width: 250px;
        margin-top: 20px;
        height: 250px;
        border-radius: 70px;
    }
}